.navbar-inverse{
    margin-bottom: 0px;
}
.jumbotron {
    background: #FFFFFF;

}

.jumbotron h1{

     color: #5A1CAF;
 }
.jumbotron a{

    color: #5A1CAF;
}

.footer {
    background: #222;
    position: relative;
    margin-top: -51px; /* negative value of footer height */
    height: 51px;
    clear:both;
    padding-top:20px;
}

html,body{
    height:100%;
}

#wrap{
    min-height: 100%;
}

#main{
    overflow:auto;
    padding-bottom:51px; /* this needs to be bigger than footer height*/
}
.purple{
    padding: 1px;
    background: #5A1CAF;
}

#map_canvas {
    min-height: 300px;
    min-width: 600px;
    width: 100%;
    height: 100%;
}

.padjumbo {
    padding-top: 48px;
}


.form .row .fieldcontain .col-lg-4 {
    padding-bottom: .5em;
}